clf-data
# carpeta de datos para la tarea de la clase 9
data
# cosas de la clase 12 que se pueden descargar
dataset_botellas
*.h
*.caffemodel
*.prototxt
# datos de reconocimienot facial clase 13
rostros_autorizados
